*{
  --black-txt:#00001B;
  --red-color: #FF4B44;
  --gray-color:#838383;
}
html {
  scroll-behavior: smooth;
  }
body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}
.pt-3 {
  padding-top: 30px!important;
}
.pt-4 {
  padding-top: 40px!important;
}
.pb-1 {
  padding-bottom: 10px!important;
}
.pb-3 {
  padding-bottom: 30px!important;
}
.pb-4 {
  padding-bottom: 40px!important;
}
.pl-1 {
  padding-left: 10px!important;
}
.pr-1 {
  padding-right: 10px!important;
}
.mt-2{
  margin-top: 10px!important;
}
.mt-4{
  margin-top: 40px!important;
}
.mb-4{
  margin-bottom: 40px!important;
}

/* XALOK LV */
.article-default a:hover {
  box-shadow: none !important;
}
.icon-link:before {
  content: none !important;
}
.wallpaper-inverted-ad{
  display: none!important;
}

.visual-article-free .col-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-top: 0 !important;
}
.content-free-html {
  margin:0 !important;
}
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.visual__story--free .content-free-html {
  margin: 0px !important;
}
.row>* {
  padding-right: 0!important;
  padding-left: 0!important;
  margin-top: 0!important;
}
.article-default a:hover {
  text-decoration: none;
  box-shadow: none;
}

/* CURSOR */
.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid var(--red-color);
  border-radius: 50%;
  pointer-events: none;
}

/* FONDO*/
.fondo-principal {
    font-family: 'Kanit', sans-serif;
    background-image: url('../img/fondo-cancha-futbol.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px 0 20px;
}
@media (max-width: 980px) {
  @supports (-webkit-touch-callout: none) {
    .fondo-principal {
      background-attachment: scroll !important;
    }
  }
  @supports not (-webkit-touch-callout: none) {
    .fondo-principal {
      background-attachment: scroll !important;
    }
  }
  }
  
/* INICIO ENCABEZADO*/
.contenedor-marca {
  width: 180px;
  height: 29px;
  border-radius: 100px;
  background: var(--red-color);
  text-align: center;
  margin: auto;
  display: flex;
}
.marca-collab {
  text-align: center;
  margin: auto;
}
.marca-collab p {
  color: white;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;   
  margin: auto;
  text-align: center;
  margin: auto;
}
.porteria {
  max-width: 1280px;
  height: auto;
  text-align: center;
  margin: auto;
}
.porteria img {
  max-width: 100%;
  height: auto;
}
.titulares {
  color: var(--red-color);
  text-align: center;
  text-transform: uppercase;
  max-width: 700px;
}
.titulares p {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px; /* 85% */
  letter-spacing: 0.7px;
}
.titulares p:nth-of-type(2) {
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 25px;
  margin-top: 10px;
}
.titulares h1 {
  font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: 98.55%; /* 45.333px */
text-transform: uppercase;
margin-top: 0;
margin-bottom: 10px;
}
@media (max-width: 390px) {
  .titulares p {
    font-size: 14px;
  }
  .titulares h1 {
    font-size: 40px;
  }
}
@media (max-width: 1024px) {
  .titulares {
    max-width: 600px;
  }
}

/* CAPITULOS */
.capitulos {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.cap {
  display: flex;
  gap: 20px;
}
.cap a {
  text-decoration: none;
}
.cap a h2 {
  --c: var(--red-color); /* the color */
  --s: .15em;
  line-height:1.1em;
  padding-bottom: calc(2.1*var(--s));
  background: 
    conic-gradient(from 135deg at top,var(--c) 90deg,#0000 0) 
      left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
    conic-gradient(from -45deg at bottom,var(--c) 90deg,#0000 0) 
      left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
   -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) 0/var(--_p,0%) padding-box no-repeat; 
  transition: .5s;
}
.cap a h2:hover {
  --_p: 100%;
  color: var(--c);
}
.proximo-img {
  width: 500px;
}
.cap a img {
  width: 500px;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.cap a img:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.cap h2{
  max-width: 400px;
  color: var(--red-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 122%; /* 29.28px */
  letter-spacing: 0.84px;
}
.cap:nth-child(1) {
  justify-content: center;
}
.cap:nth-child(2) {
  justify-content: flex-end;
}
.cap:nth-child(3) {
  justify-content: center;
}
.cap:nth-child(4) {
  justify-content: flex-end;
}
.cap:nth-child(5) {
  justify-content: center;
}
.cap:nth-child(6) {
  justify-content: center;
}
.cap:nth-child(7) {
  justify-content: flex-end;
}
.cap:nth-child(8) {
  justify-content: center;
  transform: rotate(40deg);
}
.proximamente {
  color: var(--gray-color)!important;
}

@media (max-width: 550px) {
  .cap .desktop {
    display: none;
  }
  .cap {
    gap: 5px;
  }
  .cap h2 {
    max-width: 300px;
  }
  .cap img {
  max-width: 300px;
  }
}

@media (max-width: 768px) {
  .capitulos {
    padding: 0;
  }
}


/* DESTACADO */
.destacado-final {
  position: relative;
  text-align: center;
  margin: auto;
}
.destacado-final img {
  position: absolute;
  right: -87px;
  max-width: 700px;
  height: auto;
  top: -25%;
}
.destacado-final p{
  color: var(--red-color);
  max-width: 500px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 98.55%; /* 45.333px */
  padding-top: 50px;
}
.destacado-final span {
  font-weight: 300;
  font-size: 16px;
}
.texto-final {
  max-width: 800px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 550px) {
  .destacado-final {
    overflow: hidden;
  }
  .destacado-final p {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .destacado-final img {
    width: 100%;
    height: 100%;
    right: 0;
  }
  .destacado-final span {
    font-size: 14px;
  }
  .texto-final {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.porteria-final {
  transform: scaleX(-1);
  transform: scaleY(-1);
}

/* LALIGA */
.laliga-logo {
  max-width: 250px;
  text-align: center;
  margin: auto;
}

/*CRÉDITOS*/
.authorship-f {
  color: rgba(66, 78, 94, 0.43);
  font-size:0.8em;
  text-align:center;
  padding:16px 0;
}
.d-inline-block-f {
  display: inline-block!important;
}
.container-fluid-f {
padding-right: 20px;
padding-left: 20px;
margin-right: auto;
margin-left: auto;
border-top: 1px solid rgba(66, 78, 94, 0.43);
}
@media (min-width: 768px) {
.container-fluid-f {
padding-right: 24px;
padding-left: 24px;
}
}
.creditos {
  font-size:1.6em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
}
.container-fluid-f {
  width: calc(100% - 40px);
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 980px
}
